html {
  background-color: #fff;
  font-family: "Courier New", Courier, monospace;
  width: 100vw;
}

header {
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
  color: #555;
  font-size: 20px;
}

p {
  text-align: center;
  font-size: 15px;
}


.portfolio-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.portfolio-selector {
  align-self: center;
}

.portfolio-selector p {
  font-size: 70px;
  font-weight: bold;
  display: contents;
}

.portfolio-selector i {
  font-size: 25px;
  color: #555;
  position: relative;
  top: -10px;
  padding: 10px;
}

.portfolio-profile-container {
  width: 55%;
  align-self: center;
  align-content: center;
}

.portfolio-profile {
  border: 1px solid #00a2e2;
}

.portfolio-profile h3 {
  background-color: #00a2e2;
  color: white;
  padding: 10px;
  margin-top: 0;
}

.portfolio-profile-container a {
  padding: 10px 0px 10px 0px;
  display: flex; 
  justify-content: center;
  font-weight: bold;
}

.transactions-container {
  text-align: center;
}

.form-container {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.form-container input:last-child {
  display: block;
  margin: 10px auto 0 auto;
  background-color: #00a2e2;
  padding: 15px 58px 15px 58px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}

.chart-size {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.form-input {
  width: 100%;
  margin-top: 10px !important;
}



#calculate-transactions {
  min-height: 200px;
  padding: 18px;
  border: 1px double #d9dadc;
  border-radius: 5px;
}

#calculate-transactions li {
  list-style-type: circle;
  padding: 3px 0px 3px 0px;
  border-bottom: 1px solid #d9dadc;
}



