html {
  background-color: #68b7bd;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
}

h1, h2, h3, p {
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 100%;
}

/* NAV */
.nav-container {
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-container > header {
  font-size: 18px;
  font-weight: bold;
}

.nav-container div:last-child {
  justify-items: flex-end;
}

.nav-container > div > a:link, a:visited {
  text-decoration: none;
  font-size: 15px;
  margin-left: 10px;
}

/* SPLASH */
.splash-container h1 {
  font-size: 45px;
}

.splash-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.splash-container a:link, a:visited {
  font-weight: bold;
  text-decoration: none;
  background-color: #555;
  border: 1px solid #555;
  border-radius: 3%;
  color: #fff;
  padding: 10px 20px;
  align-self: center;
  margin-top: 10px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 155px;
}

.portfolio-selector {
  align-self: center;
}

.portfolio-selector p {
  font-size: 70px;
  font-weight: bold;
  display: contents;
}

.portfolio-selector i {
  font-size: 25px;
  color: #555;
  position: relative;
  top: -10px;
  padding: 10px;
}

.portfolio-profile-container {
  width: 55%;
  align-self: center;
  align-content: center;
}

.portfolio-profile {
  border: 1px solid #00a2e2;
}

.portfolio-profile h3 {
  background-color: #00a2e2;
  color: white;
  padding: 10px;
  margin-top: 0;
}

.portfolio-profile-container a {
  padding: 10px 0px 10px 0px;
  display: flex; 
  justify-content: center;
  font-weight: bold;
}

.form-container {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.form-container input:last-child {
  display: block;
  margin: 10px auto 0 auto;
  background-color: #00a2e2;
  padding: 15px 58px 15px 58px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}

.chart-size {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.form-input {
  width: 100%;
  margin-top: 10px;
}

/* .form-input :first-child {
  background: red;
} */


#calculate-transactions {
  min-height: 200px;
  padding: 18px;
  border: 1px double #d9dadc;
  border-radius: 5px;
}

#calculate-transactions li {
  list-style-type: circle;
  padding: 3px 0px 3px 0px;
  border-bottom: 1px solid #d9dadc;
}
