html {
  background-color: #fff;
  font-family: "Courier New", Courier, monospace;
}

body {
  /* width: 100%; */
}

header {
  text-align: center;
}

h1, h2, h3, p {
  text-align: center;
  color: #555;
}


.portfolio-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}


.portfolio-selector {
  margin: 0 auto;
}

.portfolio-selector p {
  font-size: 70px;
  font-weight: bold;
  display: contents;
}

.portfolio-selector i {
  font-size: 25px;
  color: #555;
  position: relative;
  top: -10px;
  padding: 10px;
}

.portfolio-profile {
  border: 1px solid #00a2e2;
  width: 60%;
  align-self: center;
}

.portfolio-profile h3 {
  background-color: #00a2e2;
  color: white;
  padding: 20px;
  margin-top: 0;
}

.portfolio-profile a {
  position: absolute;
  width: 60%;
  text-align: center;
  padding-top: 10px;
}

